.nav-bar {
  width: 80%;
  height: 80px;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background-color: var(--background-color);
  //   color: var(--text-color);

  &-init {
    font-size: 28px;
  }

  &-links {
    width: 400px;
    justify-content: space-between;
    font-size: 20px;
    display: flex;

    &-button {
      color: var(--text-color) !important;
    }
  }
}
